/*=======================
--------General----------
========================*/

a{
	text-decoration:none;
	text-align:center;
}


img{
	max-width:100%;
}
ul{
	padding-left:0px;
	list-style: none;
	list-style-image: none;
}

h3{
	margin: 0 0 1em 3%;
}
html{
	padding:0px;
	margin: 0px;
}
 h1{
	font-size:1.75em;
	margin:0px;
	margin-bottom: 10px;
}
h2{
	font-size: 1em;
}


/*=======================
--------Header-----------
========================*/

header{
	background-color:#fcc2d8;
	text-align:center;
	font-family: 'Taviraj', serif;
	float:left;
	margin:0 0 10px 0;
	padding:5px 0 0 0;
	width:100%;
	margin-top:0px;
}

header a{
	text-decoration:none;
}

header h2{
	margin-top:-20px;
	padding-top:0px
}

/*=======================
--------Navigation-----------
========================*/

nav ul{
	padding:0px;
}
nav ul{
	list-style:none;
	margin:0 10px;
	padding:0;
}
nav{
	background-color: aqua;
}
nav li{
	display:inline-block;
}
nav a{
	font-weight: 800;
	padding:15px 10px;
}
nav a.selected{
	color: #d423c5;
}
nav a:hover{
	color:red;
}



/*=======================
---------Other-----------
========================*/

/*=======================
--------Footer-----------
========================*/

footer{
	padding-top:50px;
	font-size:0.75em;
	text-align:center;
	clear:both;
	color:#acc;
}
.logo{
	width:20px;
	height:20px;
	margin:0 5px;
}


/*=====================
--------Index---------
======================*/

#wrapper{
	margin:0px auto;
	width:100%;
	font-family: 'Love Ya Like A Sister', cursive;
	padding: 10px;
}
#gallery{
	margin:0;
	padding:0;
	list-style:none;
	height: 100%;
	
}
#gallery li{
	float:left;
	width: 45%;
	margin: 1.6%;
	background-color: aqua;
}

#gallery ul{
	background-color: blue;
}

#gallery li a p{
	margin:0;
	padding: 5%;
	font-size:0.75em;
	color: red;
}
/*=====================
--------About---------
======================*/
.profil-photo{
	display:block;
	max-width: 150px;
	margin:0 auto 30px;
	border-radius: 100%;
}

/*=====================
--------Contact---------
======================*/


.contact-info{
	list-style: none;
	padding: 0;
	margin:0;
	font-size: 0.9em;
}
.contact-info a{
	display:block;
	min-height: 20px;
	padding: 0 0 0 30px;
	margin:0 0 10px;
	min-height:20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	text-align: left;
}
.contact-info li.phone a{
	background-image: url('../img/phone.png');
	margin-left: 10%;
}
.contact-info li.mail a{
	background-image: url('../img/mail.png');
	margin-left: 10%;
}
.contact-info li.twitter a{
	background-image: url('../img/twitter.png');
	margin-left: 10%;
}
.contact-info li.facebook a{
	background-image: url('../img/facebook.png');
	margin-left: 10%;
}